# An example Java gitignore file
# Source: https://www.codecademy.com/learn/learn-git/modules/best-practices-for-teams-on-github/cheatsheet
# Placement of the .gitignore file: in the root of the working directory. For more info: git help ignore

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

